.look-item-box {
    margin-top: 0.05rem;
    padding: 0.05rem;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.look-item-box>img {
    height: 1rem;
}

.look-item-box .look-item-info {
    flex: 1;
    margin-left: 0.05rem;
    position: relative;
    padding-top: 1rem;
}

.look-item-box .look-item-info h3 {
    position: absolute;
    top: 0;
    left: 0;
}

.look-item-box .look-item-info p:first-child {
    position: absolute;
    top: 0.25rem;
    left: 0;
    font-size: 0.12rem;
    word-break: break-all;
}

.look-item-box .look-item-info p:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(255,0,0,0.85);
}

.look-item-box .look-item-info>p>span {
    font-size: 0.12rem;
    margin-left: 0.05rem;
    text-decoration: line-through;
    color: initial;
}

.look-item-box .look-item-info>span {
    position: absolute;
    bottom: 0;
    right: 0;
}