.table-box {
    padding: 0 0.05rem;
}

.table-box .table-title {
    font-size: 0.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0.05rem 0;
}

.table-box .table-footer {
    text-align: center;
}

.table-box .table-main {
    border-collapse: collapse;
    width: 100%;
}

.table-box .table-main>tfoot td {
    text-align: center;
    font-size: 0.14rem;
    border-bottom: 1px solid #000;
    padding: 0.05rem 0;
}

.table-box .table-main.table-bold-first .table-row>td:first-child,
.table-box .table-main.table-bold-first>tfoot>tr>td:first-child {
    font-weight: bold;
}